h2{
    margin-top: 4;
    text-align: center;
}
.first_task{
    display: flex;
    flex-flow: column;
align-items: center;
}

/* Hover */
.table .hover:after {
	content: '';
	position: absolute;
	top: 0px;
	right: 0px;    
	bottom: 0px;    
	left: 0px;
	height: 105%;
	border-left: 3px solid #ffe5c5;
	border-right: 3px solid #ffe5c5;
}
.table thead .hover:after {
	border-top: 3px solid #ffe5c5;
}
.table tbody tr:last-child .hover:after {
	border-bottom: 3px solid #ffe5c5;
	height: auto;
}
 
/* Click */

.title{
    cursor: pointer;
}
.title_active{
    background-color: red;
    border: 2px;
    cursor: pointer;
}

.my_button {

    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  
}

.button_transform {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}

.button_transform:hover {
    background-color: #4CAF50;
    color: white;
}

.modal {
    overflow: none;
    display: none;
    position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    z-index: 1;
    width: 100%;
    height: 100%;
    
    background-color: rgba(0,0,0,0.6);
    
}
.modal .modal_content {
    text-align: center;
    background-color: #fefefe;
    margin: 20% auto;
    padding: 20px;
    border: 3px solid rgb(64, 182, 34);
    border-radius: 5px;
    width: 120px;
    height: 120px;
    z-index: 2;
}
.modal .modal_content .close_modal_window {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}


table,td
{
    text-align: center;
	border:1px solid gray
}